<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @sponsor.company_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sponsor.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsor.description %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @sponsor.site_url %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
